@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('./img/saveWater.jpg');
        background-size: cover;
        background-color: red;
    }
    
}
@media (min-width: 428px){
   body{
       display:grid;
       grid-template-columns: 1fr;
   }
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header{
    grid-column: 1/4;
    margin: 0;
    margin-top: 0px;
}
#video{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
}
.site-title{
    width: 150px;
    height: 20px;
}
.main-menu{
    list-style: none;
    text-decoration: none;
    text-align:left;
    background-color: white;
    padding: 10px;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.main-menu a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 40px;
    margin: 0;
    background-color:none;
    opacity: 0.9;
    border-radius: 22px;
    border-color: #6493FF 2px solid;
    font-family: 'Aclonica';font-size: 19px;
}
.shop{
    font-size: 55px;
}
.main-menu a:hover{
    color: yellow;
    background-color: black;
}
.saveWater{
    position: relative;
    opacity: 0.4;
    text-transform: uppercase;
    width: 600px;
    align-content: center;
    justify-content: space-evenly;
    top: 660px;
    left: 560px;
    padding-bottom: 500px;
}
.makeMeBlue{
    color:blue;
    text-transform: uppercase;
}

main{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
section{
    grid-column: 1/2;
    justify-content: end;
}
.firstScreen{
    grid-column: 1/10;
    padding-top: 300px ;
}
#how{
    grid-column: 1/2;
    background-image: url(./img/fb1.png);
    margin-left: 91px;
    padding: 220px;
    position: relative;
    
}
.text1{
    background-color: rosybrown;
    position: absolute;
    top: 150px;
    width: 290px;
    left: 8px;
    opacity: 0.7;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    border-radius: 20px;
    padding: 15px;
}

.What{
    grid-column: 2/3;
    background-image: url(./img/water-footprint-reduce.jpeg);
    position: relative;
    top: 400px;
    height: auto;
    width: 800px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.What p{
    width: 300px;
   position: relative;
   left: 20px;
   bottom: 65px;
}
.subscribe{
    
    padding: 5px;
    background-color: #6493FF;
    font-size: 20px;
    grid-column: 1/4;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    display:none;
}
.subscribe p{
    position: relative;
    right: 40px;
}
.mydiv{
    height: 350px;
    width: 680px;
    grid-column: 1/2;
}
.subscribe:hover{
    z-index: 22;
}
#email{
    height: 25px;
    width: 350px;
}
.review{
    position: relative;
    left: 55%;
    
}
footer{
    grid-column: 1/4;
    position: relative;
  
    
}